:root {
    --background-color: #FFF;
    --foreground-color: #FFF;
    --button--background-color: #0056b3;
    --button--background-hover-color: #0056b3;
    --button--foreground-color: #FFF;
    --button_withValue--background-color: #008866;
    --button_withValue--background-hover-color: #005944;
    --button_withValue--foreground-color: #FFF;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.2em
}

h2 {
    font-size: 1em
}

h1, h2 {
    margin: .3em 0;
}

p {
    margin: .3em 0;
}

label, input {
    margin-bottom: .5em;
}

label {
    margin-right: 1em;
}

button {
    display: inline-block;
    padding: .5em;
    font-size: .9em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: var(--button--foreground-color);
    background-color: var(--button--background-color);
    transition: background-color 0.3s;
    cursor: pointer;
    margin-bottom: .5em;
    margin-right: .5em;
}

button.with-value {
    color: var(--button_withValue--foreground-color);
    background-color: var(--button_withValue--background-color);
}

button:hover {
    background-color: var(--button--background-hover-color);
}

button.with-value:hover {
    background-color: var(--button_withValue--background-hover-color);
}

.groupement {
    display: block;
}